.pal {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	padding: 13px;
}
pre, code {
	font-family: Courier New, Courier;
	font-size: 15px;
	color: #000000;
	padding: 0px;
}
